<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81602874614-e8dpfh5qbnbm2c9aidvuee9dana1vip6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81602874614-e8dpfh5qbnbm2c9aidvuee9dana1vip6</string>
	<key>API_KEY</key>
	<string>AIzaSyBaRMQzhLCcbjMuWGpjkSQZX3uFfzhRCA4</string>
	<key>GCM_SENDER_ID</key>
	<string>81602874614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.jobfinderapp</string>
	<key>PROJECT_ID</key>
	<string>job-finder-app-c1066</string>
	<key>STORAGE_BUCKET</key>
	<string>job-finder-app-c1066.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81602874614:ios:6fb16ee9e0460f0e9430d7</string>
</dict>
</plist>